/* <style id="el_1css"> */
.userEL5654137 {
    position: relative;
    padding: 0px 0px 2px 0px;
    background-color: #efede1;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Noto Sans KR", "Nanum Gothic";
    font-size: 13px;
}

.userEL5654137 .row .col-md-12 {
    line-height: 1;
}

.userEL5654137 .line {
    width: 1px;
    height: 87px;
    content: " ";
    display: inline-block;
    margin: 15px auto;
    border-left: 1px solid #888888;
    border-color: #efede1;
}

@media only screen and (max-width:767px) {
    .userEL5654137 .line {
        height: 40px;
        margin: 0 auto;
    }
}



/* <style id="el_2css"> */
.userEL11341679 {
    position: relative;
    padding: 20px 0px 20px 0px;
    background-color: #efede1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Noto Sans KR", "Nanum Gothic";
    font-size: 13px;
}

.userEL11341679 .container {
    min-height: 100px;
    display: block;
    content: ' ';
}



/* <style id="el_3css"> */
.userEL5532375 {
    position: relative;
    padding: 0px 0px 100px 0px;
    background-color: #efede1;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Noto Sans KR", "Nanum Gothic";
    font-size: 13px;
}


.style2375 {
    font-family: "Noto Sans KR", "Nanum Gothic", "Nanum Gothic";
}


.userEL5532375 hr {
    width: 100px;
    border-top: 3px solid #03d663;
    margin: 0 auto 0 0;
    border-color: #000000;
}

.userEL5532375 h2.head_title {
    font-weight: normal;
    font-size: inherit;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* @media only screen and (min-width:992px) {
      .userEL5532375 .text-wrap {
        padding-left: 30px;
      }
    
      .userEL5532375 .img-wrap {
        padding-right: 30px;
      }
    } */

@media only screen and (min-width: 992px) {
    .userEL5532375 .text-wrap {
        padding-left: 30px;
    }
}

@media only screen and (max-width:991px) {
    .userEL5532375 h2.head_title {
        margin-top: 32px;
        margin-bottom: 24px;
    }

    .userEL5532375 .img-wrap {
        margin-top: 30px;
    }
}

@media only screen and (max-width:767px) {
    .userEL5532375 h2.head_title {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .userEL5532375 .img-wrap {
        margin-top: 20px;
    }
}

.userEL5532375 div.newtemp {
    margin-bottom: 0;
}

.cRgb0 {
    color: rgb(0, 0, 0);
}

.ccRgb0 {
    caret-color: rgb(0, 0, 0);
}

.cRgb3 {
    color: rgb(33, 33, 33);
}


.userEL11369075 .btn-box {
    display: inline-block;
}

.userEL11369075 .btn-box {
    float: right;
}



